@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700&display=swap');

.Calendar-Button {

    background-color: #48C3C0;
    /* Green */
    border: none;
    color: white;
    height: 46px;
    /*text-align: center;*/
    width: 300px;
    border-radius: 15px;
    margin: 5px;
    font-family: 'Asap', sans-serif;
    font-size: medium;
    text-align: center;

}


.Calendar-Button {
    margin-bottom: 20px;
}

.Calendar-Month {
    margin: 10px;
    margin-top: 30px;
}