@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700&display=swap');

.Title{
    color:#48C3C0;
}

.HomeRequests-Image{
    height: 75px;
}

.HomeRequests-Button{

    background-color: #f3f3f3; /* Green */
    border: none;
    color: white;
    height: 30px;
    /*text-align: center;*/
    width: 167px;
    border-radius: 15px;
    font-style: italic;
    margin: 5px;
  }

  .accept:active{

    background-color: rgba(91, 195, 193, 0.492); /* Green */
  }

  .deny:active{

    background-color: #c489a8d4; /* Green */
  }

.HomeRequests-Icon{
    position: relative; 
    margin-right: 5px;
    top: 8px;
    width: 30px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    height: 250px;
    color: #7D848D;
    background-color: hsl(0, 0%, 98%);
  }
  
div.scrollmenu div {
    width: 180px;
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu div p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;

}

.HomeEvents{
    padding: 20px;
    height: 330px;
    color: #1B1E28;
}

.HomeEvents-Events{
    margin-top: 10px;
}

.Event{
    padding: 10px;
    width: 320px;
    height: 69px;;
    border-radius: 16px;
    box-shadow: 5px 5px 5px 5px rgba(231, 231, 231, 0.2);
}


.Event-DateTime{
    color: #7D848D;
    font-size: 12px;
}

.Event-Title{
    color:#1B1E28;

}

.HomeEvents-Title {
    font-size: 22px;
	float: left;
    padding-left: 5px;
}

.HomeEvents-CalLink {
    padding-top: 13px;
    font-size: 14px;
	float: right;
    color: #C38248;
}
